/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
/*body{*/
    /*font-family: -apple-system,"Helvetica Neue",Helvetica,Arial,"PingFang SC",*/
    /*"Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif;*/
    /*font-size: 14px;*/
    /*line-height: 1.42858;*/
    /*color: #333;*/
/*}*/
body{
    font-family: -apple-system,"Helvetica Neue",Helvetica,Arial,"PingFang SC",
    "Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif;;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
*网站css通用样式库
*/
.fc9a{
    color: #009a61;
}
.ml10 {
    margin-left: 10px;
}

/*
*公共通用组件样式
*/

/*公共nav下的menu*/

.global-nav .nav {
    /*height: 54px;*/
    padding: 0 15px 0;
}

.global-nav li a {
    font-size: 16px;
    text-decoration: none;
}

.global-nav .menu {
    margin: 12px 0 0 23px;
}
.global-nav .menu-item ,.global-nav .opts-item {
    position: relative;
    padding: 0;
    margin:0 0 0 2px;
    vertical-align: middle;
    line-height: 34px;
    color: #666;
}
.global-nav .menu-item:first-child {
    margin: 0;
}
.global-nav .menu-item>a,.global-nav .opts-item>a {
    display: inline-block;
    padding: 0 13px;
    height: 34px;
    color: #757575;
    font-weight: 500;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.global-nav .menu-item .active-nav {
    color: #009a61;
    font-weight: 600;
}
/*公共nav下的opts*/
.global-nav .opts {
    margin:12px 0 0;
}
.global-nav .opts-item .btn-signin {
    color: #009a61;
    font-size: 14px;
}
.global-nav .opts-item .btn-signup {
    background-color: #009a61;
    color:#fff;
    font-size: 14px;
}
/*公共nav下的dropdown */
.global-nav .dropdown-block{
    min-width: 120px;
}
.global-nav .dropdown-block li a {
    padding: 6px 13px;
    color: #757575;

}
.global-nav .dropdown-block li a:hover{
    color: #009a61;
}
.global-nav .notice{
    padding: 0 5px;
    margin-left: 10px;
    font-weight: 400;
    background-color: #ED1C24;

}
/*公共头部*/
.sf-header {
    position:relative;
    z-index: 3;
    border-top: 3px solid #009a61;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1),0 1px rgba(0,0,0,.1);
    -moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1),0 1px rgba(0,0,0,.1);
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.1),0 1px rgba(0,0,0,.1);
    background-color: #fafafa;
}
.sf-header .container {
    height: 64px;
    line-height: 64px;
}
.sf-header-logo h1{
    margin: 0;
    line-height: 64px;
}
.sf-header-logo .logo{
    float:left;
    display: block;
    width: 150px;
    background: url(../img/logo.svg) no-repeat center;
    -webkit-background-size: auto 27px;
    background-size: auto 27px;
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
    text-transform: capitalize;

}
.sf-header .menu {
    margin:-1px 0 0 20px;
    -webkit-transition: opacity 0.25s;
    -moz-transition: opacity 0.25s;
    -ms-transition: opacity 0.25s;
    -o-transition: opacity 0.25s;
    transition: opacity 0.25s;
}

.sf-header .opts {
    display:inline-block;
    margin:0;
}

/*公共搜索*/
.header-search {
    position: absolute;
    right: 0;
    transition:width 0.25s ease;
    display:inline-block;
    margin:15px 15px 0 0;
    vertical-align:middle;
}
.header-search .btn{
    position: absolute;
    right:0;
    top:0;
    color: #999;
}
/*
*单独特殊样式
*/















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media screen and (min-width: 1200px){
    .header-search{
        width:265px ;
    }
}
@media screen and (min-width:992px ) and (max-width: 1199px){
    .header-search{
        width:160px ;
    }
}
@media screen and (max-width: 991px){
    .global-nav .menu-item>a{
        font-size: 14px;
        padding: 0 6px;
    }
}

@media screen and (max-width: 767px){
    .global-nav .nav{
        line-height: 44px;
        height: 44px;
        padding: 0;
    }
}
@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
